body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

b {
  font-weight: bold;
}

a, a:hover {
  color: inherit;
}

input[type="button"],input[type="submit"],button {
  border-radius: 0px;
  border: 1px solid #B6B6B3;
  padding: 8px 20px;
  background-color: #fff;
  cursor: pointer;
}

input[type="text"],input[type="password"],input[type="email"],
button,.btn {
  border-radius: 0px;
}

.btn:hover {
  background-color: #D5DAD5;
  cursor: pointer;
}

.btn.btn-primary {
  border-color: #fff;
  background-color: $primary-color;
}

.btn.btn-secondary {
  color: $primary-color;
  background-color: #868E96;
}
