@font-face {
    font-family: Kroftsmann;
    src: url("/fonts/Kroftsmann.ttf");
}

.logo-font {
    font-family: 'Kroftsmann', sans-serif;
    font-size: 1.5em;
}

.menu-font {
    font-family: 'Kroftsmann', sans-serif;
    font-size: 1.4em;
}
