nav.main-nav.navbar {
  background-color: $brand-primary;

  .nav-item:hover {
    background-color: #54605a;
  }

  .nav-link {
    color: #fff;

    &.active {
      font-weight: bold;
    }
  }
}

.centered-title {
  margin-top: 30px;
  text-align: center;
}
