.panel {
  background-color: $brand-primary;
  color: #fff;
  border: 1px solid #000;
  padding: 1rem;
  margin: 30px 0;

  .panel-heading {
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}
