$primary-color: #34403a;
$secondary-color: #A5FE54;

$l-primary-color: lighten($primary-color, 10%);
$ll-primary-color: lighten($primary-color, 20%);
$lll-primary-color: lighten($primary-color, 30%);
